.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 77px 2fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
  grid-area: c;
  background-color: cornflowerblue;
}


.Navigation {
  grid-area: n;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.navbar__links{
  margin-left: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
